.stack1:hover > .stack-name1 { 
    opacity: 1;
}

.stack2:hover > .stack-name2 { 
    opacity: 1;
}

.stack3:hover > .stack-name3 { 
    opacity: 1;
}

.stack4:hover > .stack-name4 { 
    opacity: 1;
}

.stack5:hover > .stack-name5 { 
    opacity: 1;
}

.stack6:hover > .stack-name6 { 
    opacity: 1;
}

.stack7:hover > .stack-name7 { 
    opacity: 1;
}

.stack8:hover > .stack-name8 { 
    opacity: 1;
}

.stack9:hover > .stack-name9 { 
    opacity: 1; 
}

.stack10:hover > .stack-name10 { 
    opacity: 1; 
}

.stack11:hover > .stack-name11 { 
    opacity: 1; 
}

.stack12:hover > .stack-name12 { 
    opacity: 1; 
}

.stack13:hover > .stack-name13 { 
    opacity: 1;
}

.stack14:hover > .stack-name14 { 
    opacity: 1;
}

.stack15:hover > .stack-name15 { 
    opacity: 1;
}

.stack16:hover > .stack-name16 { 
    opacity: 1;
}

.stack17:hover > .stack-name17 { 
    opacity: 1;
}

.stack18:hover > .stack-name18 { 
    opacity: 1;
}

.stack19:hover > .stack-name19 { 
    opacity: 1;
}

.stack20:hover > .stack-name20 { 
    opacity: 1;
}

.stack21:hover > .stack-name21 { 
    opacity: 1;
}

.stack22:hover > .stack-name22 { 
    opacity: 1;
}

.stack23:hover > .stack-name23 { 
    opacity: 1;
}

.stack24:hover > .stack-name24 { 
    opacity: 1;
}

.stack25:hover > .stack-name25 { 
    opacity: 1;
}