@import url('./css/animations.css');
@import url('./css/main.css');
@import url('./css/first-page.css');
@import url('./css/second-page.css');
@import url('./css/media.css');
@import url('./css/mobile.css');